header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  float: left;
  width: 48%;
}

.data {
  float: right;
}

.image {
  height: 20%;
  margin-left: 15%;
  width: 20%;
}

.avatar {
  border-radius: 50%;
}
