.correct {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect {
  border: 3px solid red;
}

.next {
  visibility: hidden;
}

button {
  display: block;
  height: 50px;
  margin: 5px auto;
  width: 300px;
}

.questionText {
  margin: 10px auto;
}
